.unselectable {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

* {
    margin: 0;
    padding: 0;
    color: #6A5E79;
}



ul {
    list-style: none;
}

@font-face {
    font-family: 'digital';
    src: url('digital.ttf');
}



#calculator {
    width: 310px;
    height: 546px;
    margin: 10px auto;
    background: #F5F5F5;
    border-top: 1px solid #6A5E7950;
    border-right: 6px solid #6A5E7950;
    border-bottom: 3px solid #6A5E7950;
    border-left: 1px solid #6A5E7950;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #6A5E7980;
}

#header {
    width: 277px;
    height: 42px;
    margin: 10px auto 9px;
    background: #fff;
    border: 1px solid #6A5E79;
    border-radius: 15px 15px 0 0;
    text-align: center;
    line-height: 42px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 2px #6A5E79 inset;
}

#display {
    width: 269px;
    height: 90px;
    margin: 0 auto 12px;
    background-image: radial-gradient(circle, #ccecf7, #c9e5ef, #c5dee8, #c2d7e0, #bed0d8);
    border: 4px solid #cccccc;
    border-radius: 5px;
    font-family: 'digital', sans-serif;
    box-shadow: 0 0 5px #000000 inset;
}

#display-top {
    font-size: 17px;
    height: 17px;
}

.display-time {
    float: left;
    width: 18%;
    padding: 2px 0 0 2%;
    text-align: left;
}

.display-date {
    float: right;
    width: 78%;
    padding: 2px 2% 0 0;
    text-align: right;
}

#display-middle {
    float: left;
    width: 100%;
    font-size: 17px;
    height: 17px;
}

.display-audio {
    width: 18%;
    padding: 0 0 0 2%;
    text-align: left;
    float: left;
}

#display-historic {
    text-align: right;
    width: 78%;
    padding-right: 2%;
    float: right;
}

#display-main {
    float: left;
    width: 96%;
    height: 56px;
    line-height: 56px;
    font-size: 35px;
    text-align: right;
    border-radius: 0 0 15px 15px;
    padding: 0 2%;
}

#keyboard {
    width: 277px;
    margin: 0 auto;
}

#keyboard ul {
    width: 100%;
}

#keyboard ul li {
    width: 58px;
    height: 58px;
    float: left;
    border: 1px solid #6A5E79;
    border-radius: 8px;
    margin:3px 4px;
    line-height: 58px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(to top, #cccccc, #ffffff);
    text-shadow: 2px 2px #fff;
}

#keyboard ul li:active {
    background-image: linear-gradient(to bottom, #cccccc, #ffffff);
}

#keyboard ul .btn-sum {
    height: 124px;
    float: right;
    margin: 3px 9px 0 0;
    line-height: 124px;
}

#footer {
    width: 100%;
    height: 27px;
    margin: 5px auto 5px auto;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

#calculator-audio-toogle {
    line-height: 27px;
    width: 42%;
    text-align: left;
    float: left;
    margin: 0 0 0 8%;
}

#calculator-audio-toogle span i {
    font-size: 15px;
    margin: 0 2px;
    padding: 0;
    float: left;
}

.toggle {

    width: 30px;
    height: 15px;
    border-radius: 30px;
    border: 2px solid #999;
    float: left;

}

.toggle span.on {

    width: 9px;
    height: 9px;
    background: #6A5E79;
    float: left;
    border-radius: 13px;
    margin: 0 1px;

}

.toggle span.off {

    width: 9px;
    height: 9px;
    background: #6A5E79;
    float: right;
    border-radius: 13px;
    margin: 0 1px;

}

#calculator-logo {
    width: 42%;
    float: right;
    margin: 0 8% 0 0;
}

#calculator-logo img {
    margin-right: 0;
    float: right;    
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
 